// ==========================================================================
// Vlaanderen UI -- SideSheet
// ==========================================================================
@charset "utf-8";

// ==========================================================================
// Core
// ==========================================================================
@import "vl-ui-core/src/scss/core";

// ==========================================================================
// Depencencies
// ==========================================================================
@import "vl-ui-modal/src/scss/modal";

$break-small: 767px;

#vl-side-sheet{
  display: none;
  position: fixed;
  top: 0;
  width: var(--vl-side-sheet-width, calc(100%/3));
  right: 0;
  border-left: 1px solid #cbd2da;
  padding-top: 43px;

  @media screen and (max-width: $break-small) {
    width: calc(100vw - 56px);
    border: 0;
    box-shadow: 0 0 2.1rem 0 rgba(0, 0, 0, 0.3);
  }

  height: 100vh;
  z-index: 1001;
  background: white;
  overflow: scroll;

  [is="vl-layout"] {
    min-width: auto;
  }
}

#vl-side-sheet[open]{
  display: block;
}

#vl-side-sheet-backdrop {
  display: none;
}

.vl-side-sheet--left {
  left: 0;
  border-right: 1px solid #cbd2da;
}

#vl-side-sheet-backdrop[open] {
  @media screen and (max-width: $break-small) {
   display: block;
  }

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
}

.vl-side-sheet__close {
  @extend .vl-modal-dialog__close;
  top: 43px;
}

.vl-side-sheet__close__icon {
  @extend .vl-modal-dialog__close__icon;
}